html {
  overflow-x: hidden;
}
html,
body {
  width: 100%;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.gridbox {
  display: grid;
  grid-template-rows: masonry;
  gap: 30px;
  padding: 40px 0;
}
@media (min-width: 576px) {
  .gridbox {
    display: grid;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
    padding: 0;
  }
  .gridbox {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
  .gridbox {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
  .gridbox {
    grid-template-columns: repeat(5, 1fr);
  }
  .lazy-image:first-child {
    grid-column: span 3;
  }
}
.image-uploader-wrapper {
  background-color: #ddd;
  display: grid;
  place-items: center;
  width: 100%;
  height: 350px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.image-uploader {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.button {
  border: none;
  cursor: pointer;
  height: 30px;
  padding: 0 20px;
  background-color: red;
  color: white;
  text-transform: capitalize;
  border-radius: 4px;
}
.image-select-wrapper {
  overflow: hidden;
  position: relative;
}
.image-select-bg {
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 90px 90px 0;
  border-color: transparent rgba(221, 221, 221, 0.6) transparent transparent;
}
.image-select {
  position: absolute;
  right: 0;
  top: 0;
  height: 120px;
  width: 120px;
}
.image-select-input-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  padding-right: 20px;
  padding-top: 10px;
  z-index: 99;
}
